body, input, button {
  font-family: 'Roboto';
}

.app {
  text-align: center;
}

.app-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 200px;
}

.body {
  padding: 50px;
}

.body>.text-number, .body>.btn {
  border: 0;
  padding: 5px;
  margin: 5px;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.btn {
  background-color: #282c34;
  color: white;
  font-weight: 500;
}